*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  min-width: 100%;
}
:root {
  --darkColor: #373737;
  --mediumColor: #C0B283;
  --lightColor: #f4f4f4;
}
.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  
  background-color: white;
  font-size: 1rem;
  height: 100%;
  min-width: 100%;
  color: var(--darkColor);
  
}

/* hamburger */
.toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: var(--darkColor);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.hamburger > div::before,
.hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 99;
  top: -8px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.hamburger > div::after {
  top: 8px;
}
.toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.toggler:checked ~ .nav-links {
  visibility: visible;
}

/* menu */

.logo {
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 3rem;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  opacity: 1;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: flex-start;
  z-index: 100;
}

.nav-links a {
  color: var(--darkColor);
  font-weight: 500;
  margin-right: 3rem;
}
.nav-links a:hover {
  font-weight: 600;
}

/* slider */
.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  z-index: -1;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 20%;
  left: -500px;
  opacity: 0;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(55, 55, 55, 0.9);
  padding: 3rem;
}

.slide .content h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 1rem;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(500px);
  transition: all 0.9s ease-in-out 0.3s;
}

/* Backgorund Images */

.one {
  background: url('./img3.jpg') no-repeat center center/cover;
}
.two {
  background: url('./img2.jpg') no-repeat center center/cover;
}
.three {
  background: url('./img4.jpg') no-repeat center top/cover;
}

/* about */

 .about h1::before {
  display: block;
  content: ' ';
  margin-top: -3rem;
  height: 3rem;
  visibility: hidden;
  pointer-events: none;
} 

.about {
 height: 100vh;
  overflow: hidden;
  max-height: 1080px;
 
  
 display: flex;
 flex-direction: column;
 align-self: center;
 justify-content: center;
}
.about h1 {
  text-align: center;
  padding-top: 3rem; 
  font-size: 1.5rem;
  font-weight: 500;
}
.about-wrap {
  display: flex;
  justify-content: space-evenly;
   align-items: center; 
  flex-wrap: wrap;
  background-color: var(--lightColor);
  margin: auto 5%;
  
}
.portrait {
 

  width: 20rem;
 
  
}
.portrait img {
  width: 100%;
  padding: 2rem;
  
}

 .text  {
  width: 40rem;
  
} 
.text p {
  width: 100%;
  text-indent: 2rem;
  line-height: 1.5rem;
  font-size: 1.1rem;
  padding: 2rem;
}
.animate {
  animation: fadeIn 3s forwards;
}
 @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(15em);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
} 



/* footer */
.wrap {
  padding-bottom: 20rem;
}
footer {
  padding: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--lightColor);
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 20rem;
 
}

.contact p {
  padding: 1rem;
  text-align: center;
  color: var(--darkColor);
  white-space: 0.5rem;
  font-weight: 400;
  
}
.contact span {
  margin-left: 1rem;
  font-weight: 500;
}
.social i {
  font-size: 2rem;
  color: var(--darkColor);
  margin: 1rem;
}
@media (max-width: 500px) {
  .slide .content h1 {
    font-size: 2rem;
  }

  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}

@media (max-width: 800px) {
  .hamburger {
    opacity: 1;
  }
  nav {
    flex-direction: column;
    background-color: white;
    height: 4rem;

    position: fixed;
    width: 100%;
    top: 0;
  }
  .logo {
    margin: 1rem 0;
  }
  .nav-links {
    flex-direction: column;
    text-align: center;
    padding-bottom: 2rem;
    visibility: hidden;
    background-color: white;
    width: 100%;
    align-items: center;
  }
  .nav-links li {
    text-align: center;
    margin: 1rem 0;
  }
  .overlay-shadow {
    position: fixed;
    top: 5rem;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);

    z-index: 1;
  }

  .about {
    height: auto;
  }
  .about-wrap {
    margin: 3rem;
  }
  .animate {
    animation: fadeIn 2s forwards;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(15em);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  } 
 
}
